html,
body {
	height: 100%;
}

body {
	font-size: 14px;
	line-height: 1.4;
	color: $dark-900;
	@extend %lato;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	background-color: $white;
	letter-spacing: 0.03em;
}

button {
	cursor: pointer;
}

.main {
	flex-grow: 1;
}

.logo {
	object-fit: cover;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; 
	border: 0;
}

.container {
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 10px;
}

.title {
	font-size: 32px;
	@extend %signika;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 30px;

	@include max-width($sm) {
		font-size: 24px;
		margin-bottom: 24px;
	}
}

.button {
	border: 1px solid $grenn-500;
	border-radius: 6px;
	color: $grenn-500;
	font-size: 18px;
	line-height: 1.3;
	padding: 12px 24px;
	transition: background-color 0.5s, box-shadow 0.5s;
	width: 174px;
	display: block;
}

.form {
	max-width: 600px;
	width: 100%;
}

.input {
	max-width: 430px;
	width: 100%;
	border: none;
}

.opacity {
	&::before {
		content: '';
		z-index: 15;
		position: absolute;
		width: 100%;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.15);
		top: 0;
	}
}

.body--dark {
	&::before {
		content: '';
		z-index: 15;
		position: absolute;
		width: 100%;
		height: 810px;
		right: 0;
		top: 0;
		background-color: rgba(0, 0, 0, 0.15);
	}
}


