$dark-900: #121212;
$green-900: #63A60F;
$dark-800: #31352B;
$dark-500: #505050;
$green-200: #E0EDCF;
$green-100: #EFF6E7;
$red-900: #CF3E3B;
$orange-900: #FF7A00;
$yellow-900: #FFB800;
$silver-600: #C1C1C1;
$silver-100: #F6F6F6;
$white: #fff;
$grey: #4f4f4f;
$grenn-300: #EBEBEB;
$grenn-500: #63A60E;
$grenn-600: #4D810C;
$bg-promo: #F5F5F5;
$hover-link: #4D800C;


%lato {
	font-family: Lato, sans-serif;
}

%signika{
	font-family: Signika, sans-serif;
}

@mixin line-clamp(
	$font-size,
	$line-height,
	$lines-to-show
) {
	display: block; 
	display: -webkit-box;
	font-size: rem($font-size);
	max-height: rem(($font-size * $line-height * $lines-to-show)); 
	line-height: $line-height;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $lines-to-show;
}


