$dark-500: #505050;
$dark-800: #31352B;
$dark-900: #121212;
$grey: #4f4f4f;
$black: #000;
$bg-promo: #F5F5F5;
$silver-100: #F6F6F6;
$silver-600: #C1C1C1;
$silver-700: #C4C4C4;
$white: #fff;
$red-900: #CF3E3B;
$orange-900: #FF7A00;
$yellow-900: #FFB800;
$hover-link: #4D800C;
$green-100: #EFF6E7;
$green-200: #E0EDCF;
$grenn-300: #EBEBEB;
$grenn-500: #63A60E;
$grenn-600: #4D810C;
$green-900: #63A60F;



$xl: 1300;
$lg: 1050;
$ipad-vertical: 1024;
$iphone10: 813;
$md: 785;
$iphone8: 737;
$ipad: 680;
$sm: 576;
$inpone7: 415;
$inphone6: 375;
$mobile: 374;
$iphone5: 320;


%lato {
	font-family: Lato, sans-serif;
}

%signika{
	font-family: Signika, sans-serif;
}




