$dark-900: #121212;
$green-900: #63A60F;
$dark-800: #31352B;
$dark-500: #505050;
$green-200: #E0EDCF;
$green-100: #EFF6E7;
$red-900: #CF3E3B;
$orange-900: #FF7A00;
$yellow-900: #FFB800;
$silver-600: #C1C1C1;
$silver-100: #F6F6F6;
$white: #fff;
$grey: #4f4f4f;
$grenn-300: #EBEBEB;


%last-300 {
	font-family: 'Lato-Light';
	font-weight: 300;
}

%lato-400 {
	font-family: 'Lato-Regular';
	font-weight: 400;
}

%lato-600 {
	font-family: 'Lato-Semibold';
	font-weight: 600;
}

%lato-700 {
	font-family: 'Lato-Bold';
	font-weight: 700;
}

%signika-400 {
	font-family: 'Signika-Regular';
	font-weight: 400;
}

%signika-300 {
	font-family: 'Signika-Light';
	font-weight: 300;
}

%signika-600 {
	font-family: 'Signika-SemiBold';
	font-weight: 600;
}

%signika-700 {
	font-family: 'Signika-Bold';
	font-weight: 700;
}


