@mixin line-clamp(
	$font-size,
	$line-height,
	$lines-to-show
) {
	display: block; 
	display: -webkit-box;
	font-size: rem($font-size);
	max-height: rem(($font-size * $line-height * $lines-to-show)); 
	line-height: $line-height;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $lines-to-show;
}


$xl: 1300;
$lg: 1050;
$md: 785;
$sm: 576;
$mobile: 374;
$iphone5: 320;

@mixin max-width($width) {
	@media only screen and (max-width: $width + "px") {
		@content;
	}
}

@mixin max-height($height) {
	@media only screen and (max-height: $height + "px") and (orientation: landscape) {
		@content;
	}
}

