.benefits {
	
	background-color: $silver-100;
	padding: 48px 0;

	@include max-width($sm) {
		padding: 30px 0;
	}

	@include max-width($mobile) {
		padding: 20px 0;
	}

	@include max-height($sm) {
		padding: 20px 0;
	}

	&__list {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;

		@include max-width($sm) {
			justify-content: end;
		}
	}

	&__item {
		padding-left: 74px;
		letter-spacing: 0;
		position: relative;
		max-width: 280px;
		&:not(:last-child) {
			margin-right: 38px;

			@include max-width($lg) {
				margin-bottom: 31px;
			}
		}

		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 50px;
			height: 50px;
			background-repeat: no-repeat;
		}

		&--moto {
			&::after {
				background-image: url('../images/icon/moto-icon.svg');
			}
		}

		&--cashback {
			&::after {
				background-image: url('../images/icon/cashback-icon.svg');
				left: 4px;
	
				@include max-width($md) {
					left: 0;
				}
			}
		}

		&--alltime {
			&::after {
				background-image: url('../images/icon/alltime-icon.svg');
				left: 9px;
	
				@include max-width($md) {
					left: 0;
				}
			}
		}

		@include max-width($md) {
			max-width: 784px;
			width: 100%;
			padding-left: 58px;
		}
	}

	&__title {
		font-size: 16px;
		max-width: 201px;
		margin-bottom: 7px;
		@extend %lato;
		@include line-clamp (16, 1.4, 1);
	}

	&__text {
		color: $dark-500;
		min-width: 211px;
		width: 100%;
		@include line-clamp (14, 1.4, 1);
	}
}

