.news-card {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
	position: relative;
	border-radius: 6px;
	width: 410px;
	padding-bottom: 352px;

	@include max-width($inpone7) {
		width: 345px;
		padding-bottom: 310px;
	}

	@include max-width($iphone5) {
		width: 310px;
		max-width: 100%;
		padding-bottom: 270px;
	}

	&:hover {
		.news-card__heading {
			color: $grenn-500;
		}
	}
	
	&__link {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	&__img {
		@include max-width($mobile) {
			height: 200px;
		}
	}
	

	&__date  {
			position: absolute;
			left: 20px;
			height: 75px;
			width: 65px;
			@extend %signika;
			font-weight: 600;
			background-color: $white;
			border-radius: 0 0 4px 4px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;
		}

		&__month {
			font-size: 10px;
			font-weight: 700;
			text-transform: uppercase;
		}

		&__day {
			font-size: 30px;
		}

		&__img {
			border-radius: 6px 6px 0 0;
		}

		&__body {
			padding: 18px;
			padding-right: 12px;

			@include max-width($xl) {
				padding-bottom: 0;
				padding: 12px;
			}
		}

		&__heading {
			font-size: 18px;
			letter-spacing: 0;
			font-weight: 600;
			transition: color 0.5s;
			@include line-clamp(18, 1.4, 3);

			@include max-width($mobile) {
				font-size: 14px;
				font-weight: 700;
			}
		}
}