.footer {

	background-color: $dark-800;
	color: $white;
	padding-top: 30px;
	letter-spacing: 1px;

	@include max-width($lg) {
		padding-top: 24px;
	}

	.container {
		@include max-width($lg) {
			padding: 0;
		}
	}

	.logo {
		@include max-width($lg) {
			display: block;
		}
	}

	&__logo {
		margin-bottom: 26px;
		display: inline-block;

		@include max-width($lg) {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		padding-bottom: 26px;
		flex-wrap: wrap;

		@include max-width($lg) {
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__col--form {
		@include max-width($lg) {
			margin-bottom: 26px;
		}

		@include max-width($lg) {
			order: 3;
			padding: 24px 0;
			margin-bottom: 0;
		}
	}

	&__form {
		position: relative;
		max-width: 300px;
	}

	&__label {
		color: $white;
		letter-spacing: 0;
	}

	&__input {
		max-width: 182px;
		display: inline-block;
		margin-top: 14px;
		border-radius: 6px 0 0 6px;
		padding: 11px 15px;
		margin-right: -5px;
		line-height: 1.3;

		&::placeholder {
			color: $grey;
		}
	}

	&__button {
		max-width: 118px;
		padding: 12px 10px 12px 14px;
		background-color: $grenn-500;
		color: $white;
		font-size: 12px;
		@extend %lato;
		font-weight: 700;
		display: inline-block;
		border-radius: 0 6px 6px 0;
		text-transform: uppercase;
		position: absolute;
		right: 0;
		bottom: 0;

		&:focus {
			box-shadow: 0 0 0 4px $green-200;
		}

		&:hover {
			background-color: $hover-link;
		}

		&:active {
			box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
		}
	}

	&__col--links {
		max-width: 469px;
		
		@include max-width($lg) {
			margin-bottom: 26px;
		}

		@include max-width($lg) {
			order: 2;
			padding: 24px 0;
			width: 100%;
			max-width: 1024px;
			border-top: 1px solid rgba($white, 0.1);
			border-bottom: 1px solid rgba($white, 0.1);
			margin-bottom: 0;
		}
	}

	&__links {
		display: grid;
		grid-template-columns: 177px 177px 65px;
		grid-column-gap: 30px;
		grid-row-gap: 20px;

		@include max-width($lg) {
			grid-template-columns: 139px 60px;
			text-align: left;
			grid-column-gap: 57px;
			justify-content: center;
			grid-row-gap: 18px;
		}

		@include max-width($mobile) {
			grid-column-gap: 20px;
		}
	}

	&__link {
		transition: opacity 0.5s, color 0.5s;

		&:focus {
			color: $grenn-500
		}

		&:hover {
			opacity: 0.7;
		}

		&:active {
			color: $grenn-500;
			opacity: 0.7;
		}
	}

	&__item {
		@include max-width($lg) {

		&:nth-child(1) {
			order: 0;
		}

		&:nth-child(2) {
			order: 7;
		}

		&:nth-child(3) {
			order: 6;
		}

		&:nth-child(4) {
			order: 3;
		}

		&:nth-child(5) {
			order: 2;
		}

		&:nth-child(6) {
			order: 8;
		}

		&:nth-child(7) {
			order: 5;
		}

		&:nth-child(8) {
			order: 4;
		}

		}
	}

	&__col--adress {
		letter-spacing: 0;
		width: 205px;

		@include max-width($lg) {
			order: 1;
			margin-bottom: 24px;
		}
	}

	&__contacts {
		margin-bottom: 21px;
		&:not(:last-child) a {
			display: block;
			margin-bottom: 18px;
		}

		a {
			transition: color 0.5s, opacity 0.5s;
			&:focus {
				color: $grenn-500
			}

			&:hover {
				opacity: 0.7;
			}

			&:active {
				color: $grenn-500;
				opacity: 0.7;
			}
		}
	}

	&__socials {
		display: flex;
		justify-content: space-around;
		margin-right: 32px;

		@include max-width($lg) {
			margin-right: 18px;
		}
	}

	.socials__link {
		width: 100%;
		height: 100%;
		transition: opacity 0.5s;

		&:hover {
			opacity: 0.7;
		}
	}

	&__bottom {
		border-top: 1px solid rgba($white, 0.1);
		padding: 22px;

		@include max-width($lg) {
			padding: 24px;
		}
	}

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include max-width($lg) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__copyright {
		@include max-width($lg) {
			order: 2;
			width: 100%;
			text-align: center;
		}
	}

	&__pays {
		@include max-width($lg) {
			order: 1;
			margin-bottom: 24px;
		}
	}

	&__pay {
		&:not(:last-child) {
			margin-right: 18px;
		}

		svg {
			transition: opacity 0.5s;
			&:hover {
				opacity: 0.7;
			}
		}
	}
}