.basket {
	position: absolute;
	background-color: $white;
	height: 100vh;
	z-index: 16;
	right: 0;
	max-width: 469px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transform: translateY(-251%);
	transition: transform 0.5s;

	@include max-width($mobile) {
		height: 450px;
		top: 119px;
	}

	&--active {
		transform: translateY(0);
	}
	

	&__top {
		display: flex;
		flex-direction: column;
		align-items: baseline;
		padding: 19px 26px 12px 24px;

		@include max-width($mobile) {
			padding: 8px 26px 8px 24px;
		}

		@include max-height($iphone5) {
			padding: 4px 26px 6px 24px;
		}
	}

	&__car,
	&__text {
		color: $black;
		font-size: 24px;
		line-height: 1.2;
		letter-spacing: 0.03em;

		@include max-width($mobile) {
			font-size: 14px;
		}
	}

	&__text {
		@include max-height($iphone5) {
			font-size: 16px;
		}
	}

	&__car {
		margin-bottom: 12px;
		@include max-width($mobile) {
			font-size: 18px;
		}

		@include max-height($iphone5) {
			font-size: 18px;
		}
	}

	&__close {
		position: absolute;
		right: 33px;
		top: 26px;

		@include max-width($mobile) {
			right: 35px;
		}
	}

	&__btn {
		color: $black;
		line-height: 1.2;
	}

	&__body {
		background-color: $silver-100;
		padding: 12px 11px 12px 11px;
		overflow: auto;

		@include max-width($xl) {
			min-height: 740px;
		}

		@include max-height-2($ipad-vertical) {
			min-height: 740px;
		}

		@include max-height-2($iphone10) {
			min-height: 580px;
		}

		@include max-height($md) {
			min-height: 534px;
		}

		@include max-height-2($iphone8) {
			min-height: 505px;
		}

		@include max-height-2($ipad) {
			min-height: 436px;
		}

		@include max-width($iphone5) {
			min-height: 298px;
			padding-top: 7px;
		}
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding: 24px;
		background-color: $white;

		@include max-width($mobile) {
			padding: 18px 15px;
		}

		@include max-height($sm) {
			padding: 18px 15px;
		}

		@include max-height($sm) {
			padding: 12px 15px;
		}

		@include max-height($iphone5) {
			padding: 2px 15px;
		}
	}
	
	&__price {
		color: $dark-500;
		font-size: 24px;
		line-height: 1;
		font-weight: 600;

		span {
			font-size: 18px;
		}

		@include max-width($mobile) {
			font-size: 14px;

			span {
				font-size: 12px;
			}
		}

		@include max-height($iphone5) {
			font-size: 16px;

			span {
				font-size: 10px;
			}
		}
	}

	&__button {
		max-width: 474px;
		width: 100%;
		border: none;
		border-radius: 0;
		background-color: $grenn-500;
		color: $white;
		padding: 22px 0;
		transition: opacity 0.5s, background-color 0.5s, color 0.5s;

		&:focus {
			opacity: 0.8;
		}

		&:hover {
			background-color: $grenn-300;
			color: $grenn-500
		}

		&:active {
			background-color: $orange-900;
		}

		@include max-width($mobile) {
			padding: 12px 0;
		}

		@include max-height($sm) {
			padding: 10px 0;
		}

		@include max-width($iphone5) {
			padding: 6px 0;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 12px;
		}
		
		@include max-height($sm) {
			&:not(:last-child) {
				margin-bottom: 12px;
			}
		}
	}
}

