.news {
	padding-bottom: 73px;

	@include max-width($sm) {
		padding: 30px 0;
	}

	@include max-width($mobile) {
		padding: 20px 0;
	}

	@include max-height($sm) {
		padding: 20px 0;
	}

	&__title {
		margin-bottom: 35px;
		line-height: 1;
		letter-spacing: 2px;

		@include max-width($mobile) {
			margin-bottom: 12px;
		}
	}

	&__box {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;

		@include max-width($mobile) {
			margin-bottom: 24px;
		}
	}

	&__link {
		font-weight: 700;
		color: $grenn-500;
		padding-bottom: 3px;
		border-bottom: 2px solid $grenn-500;
		text-transform: uppercase;
		margin-top: 3px;
		letter-spacing: 1px;
		transition: color 0.5s, border-color 0.5s;

		&:hover {
			color: $hover-link;
			border-color: $hover-link;
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		@include max-width($xl) {
			justify-content: space-evenly;
		}
	}

	&__item {
		@include max-width($lg) {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}

		@include max-width($sm) {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}
}