.news {
	padding-bottom: 73px;

	&__title {
		margin-bottom: 35px;
		line-height: 1;
		letter-spacing: 2px;
	}

	&__box {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__link {
		font-weight: 700;
		color: $grenn-500;
		padding-bottom: 3px;
		border-bottom: 2px solid $grenn-500;
		text-transform: uppercase;
		margin-top: 3px;
		letter-spacing: 1px;
		transition: color 0.5s, border-color 0.5s;

		&:hover {
			color: $hover-link;
			border-color: $hover-link;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 30px;
		grid-template-rows: 353px;
	}
}