.offers {
	padding-top: 72px;
	margin-bottom: 72px;
	
	@include max-width($sm) {
		padding-top: 30px;
		margin-bottom: 30px;
	}

	@include max-width($mobile) {
		padding-top: 20px;
		margin-bottom: 20px;
	}

	@include max-height($sm) {
		padding-top: 20px;
		margin-bottom: 20px;
	}
	
	&__list {
		display: grid;
		grid-template-columns: 630px 1fr 1fr;
		grid-column-gap: 30px;

		@include max-width($xl) {
			grid-template-columns: 390px 300px 300px;
			justify-content: center;
			grid-column-gap: 15px;
		}

		@include max-width($lg) {
			grid-template-columns: repeat(auto-fill, 300px);
			gap: 15px;
		}

		@include max-width($iphone10) {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		@include max-width($sm) {
			grid-template-columns: 290px;
		}
	}

	&__item {
		padding-left: 32px;
		padding-right: 48px;
		height: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		cursor: pointer;
		background-repeat: no-repeat;
		color: $dark-500;
		text-transform: uppercase;
		border-radius: 4px;
		object-fit: cover;

		&:hover {
			.offers__text,
			.offers__link {
				text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
			}

			.offers__title {
				text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
			}
		}

		&--white {
			color: $white;
		}

		@include max-width($iphone10) {
			width: 100%;
			padding-right: 26px;

			&:nth-child(1) {
				background-image: url('../images/offers-m-1.jpg');
				background-repeat: no-repeat;
				background-size: cover;
				background-position: 38%;
			}

			&:nth-child(2) {
				background-image: url('../images/offers-m-2.jpg');
				background-repeat: no-repeat;
				background-size: cover;
				background-position: 100%;
			}

			&:nth-child(3) {
				background-image: url('../images/offers-m-3.jpg');
				background-repeat: no-repeat;
				background-size: cover;
				background-position: 97%;
			}
		}
	}

	&__text {
		margin-bottom: 18px;
		font-size: 12px;
		font-weight: 700;
		letter-spacing: 0.1em;
		transition: text-shadow 0.5s;
		@include line-clamp(12, 1, 2);

		@include max-width($sm) {
			margin-bottom: 18px;
		}
	}

	&__title {
		margin-bottom: 5px;
		font-size: 30px;
		@extend %signika;
		font-weight: 600;
		max-width: 398px;
		letter-spacing: 0;
		transition: text-shadow 0.5s;
		@include line-clamp(30, 1.4, 2);

		@include max-width($sm) {
			font-size: 24px;
			margin-bottom: 77px;
		}
	}

	&__link {
		padding-bottom: 6px;
		font-weight: 700;
		border-bottom: 2px solid $dark-500;
		transition: text-shadow 0.5s;

		&--white {
			border-color: $white;
		}
	}
}