.partners {

	&__list {
		display: flex !important;
		justify-content: center;
	}
	
	&__item {
		cursor: pointer;
		transition: opacity 0.5s;
		opacity: 0.5;
		
		
		&:hover {
			opacity: 1;
		}
	

	&--sprite {
		margin-right: 162px;
		margin-top: 10px;

		@include max-width($lg) {
			margin-right: 0;
		}

		@include max-width($md) {
			margin-right: 100px;
		}
	}

	&--cola {
		margin-left: 54px;
		margin-top: 12px;
		margin-right: 162px;

		@include max-width($lg) {
			margin-right: 0;
			margin-left: 0;
		}

		@include max-width($md) {
			margin-right: 100px;
		}
	}

	&--pepsi {
		margin-top: 10px;
	}

	&--redbull {
		margin-left: 108px;
		margin-right: 162px;

		@include max-width($lg) {
			margin-left: 0;
			margin-right: 0;
		}

		@include max-width($md) {
			margin-right: 100px;
		}
	}
}

	&__list {
		padding: 73px 0;

		@include max-width($sm) {
			padding: 30px 0;
		}
	
		@include max-width($mobile) {
			padding: 20px 0;
		}
	
		@include max-height($sm) {
			padding: 20px 0;
		}
	}

	&__box {
		display: flex !important;

		@include max-width($xl) {
			justify-content: space-evenly;
		}

		@include max-width($md) {
			justify-content: center;
		}
	}
}